.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #1a141e, #000000);
    position: relative;

    .textContainer {
        position: absolute;
        text-align: center;
        font-size: 90px;
        letter-spacing: 8px;
        line-height: 140%;
        display: inline-block;
        width: 50%;
        transform: translate(50%, 20%);
        font-weight: 600;
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .aspiring {
        font-size: 30px;
    }
}
